<input type="text" [formControl]="buscador" placeholder="Escribe un ID (ej: 1)">

@if(uniqueCharacter) {
  <div class="tarjeta-personaje">
    <h2>Información del personaje:</h2>
    <hr>
    <h3>ID: {{uniqueCharacter.id}}</h3>
    <h3>Nombre: {{uniqueCharacter.name}}</h3>
    <h3>Ocupación: {{uniqueCharacter.occupation}}</h3>
    <h3>Religión: {{uniqueCharacter.religion}}</h3>
    <h3>Sexo: {{uniqueCharacter.sex}}</h3>
    <h3>Creado: {{uniqueCharacter.created_at | date:'longDate'}}</h3>
  </div>
} @else if (buscador.value) {
  <p>Buscando personaje...</p>
}



