<header class="bg-primary text-surface-container-lowest font-body-lg uppercase tracking-tighter w-full top-0 border-b-4 border-surface-container-lowest flex justify-between items-center px-4 h-20 shadow-[4px_4px_0px_0px_#140d05] z-10 sticky">
    <nav class="flex items-center">
    <span class="font-headline-lg text-headline-lg border-r-4 border-surface-container-lowest pr-4 mr-4">POKÉDEX V1.0</span>
        <div class="hidden md:flex items-center border-4 border-surface-container-lowest m-2 p-2 bg-primary">
    <span class="material-symbols-outlined mr-2">search</span>
    <input class="bg-transparent border-none focus:outline-none focus:ring-0 text-surface-container-lowest placeholder-surface-container-lowest font-body-md text-body-md w-64 uppercase" placeholder="SEARCH POKEMON..." type="text"/>
    <span class="material-symbols-outlined text-sm ml-2 animate-pulse">arrow_drop_down</span>
        </div>
    </nav>
    <div class="flex items-center gap-4">
        <button class="hover:bg-primary-container hover:text-surface-container-lowest p-2 retro-border retro-shadow active:translate-y-1 active:shadow-none bg-primary-fixed-dim">
            <span class="material-symbols-outlined">settings</span>
        </button>
        <button class="hover:bg-primary-container hover:text-surface-container-lowest p-2 retro-border retro-shadow active:translate-y-1 active:shadow-none bg-primary-fixed-dim">
<span class="material-symbols-outlined">history</span>
</button>
</div>
</header>
